header{
    background-color: rgba(62,150,122,1);
}
.info {
    background-color: rgba(235,175,108,1);

}
.info h2{
    color: rgba(9,82,108,1);
    background-color: rgba(255,82,29,1);
}
.info img{
    max-width: 100%;
    margin: auto
}
h3{background-color: rgba(255,82,29,1);
color: rgba(9,82,108,1)
}
h4{
    background-color: rgba(255,82,29,1);
    color: rgb(9,82,29,1)


}